/***************
#####Content####
***************/

/***************
# Imports
# Header
# Main
# Footer
# Responsive
***************/

/***************
# Imports
***************/

@font-face {
    font-family: 'MuseoSans100';
    src: url(../fonts/museosans_100-webfont.ttf);
}
@font-face {
    font-family: 'MuseoSans300';
    src: url(../fonts/museosans_300-webfont.ttf);
}
@font-face {
    font-family: 'MuseoSans500';
    src: url(../fonts/museosans_500-webfont.ttf);
}
@font-face {
    font-family: 'MuseoSans700';
    src: url(../fonts/museosans_700-webfont.ttf);
}
@font-face {
    font-family: 'MuseoSans900';
    src: url(../fonts/museosans_900-webfont.ttf);
}

*{
    box-sizing: border-box;
}


/***************
# Header
***************/

header { 
    display: flex;
    max-width: 1180px;
    margin: 0 auto;
    height: 140px;
    justify-content: center;
}

header #menu {
    flex-basis: 520px;
    align-self: center;
    display: flex;
}

header div {
    flex-basis: 380px;
}
#logo {
    font-family:'MuseoSans900';
    color: #0050ff;
}
#logo a{
    text-decoration: none;
    text-align: center;
    color: #0050ff;
}
#logo img{
    padding: 4px;
    height: 40px;
}
#menu {
    font-family: 'MuseoSans700';
}
#menu ul{
    list-style-type: none;
    padding: 0;
}
#menu li{
    float: left;
}
#menu li a{
    text-align: center;
    padding: 20px;
    text-decoration: none;
    color: #293d59;
}
#menu a:hover{
    border-bottom: 3px solid #004ffb;
    padding-bottom: 58px;
}
#menu2{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
#submenu {
    font-family: 'MuseoSans300';
    display: flex;
    justify-content: flex-end;
}
#submenu ul{
    list-style-type: none;
    padding: 0;
    margin: 0;
}
#submenu li{
    display: inline-block;
}
#submenu li a{
    text-align: center;
    padding: 12px;
    text-decoration: none;
    color: #293d59;
}

#login a{
    text-decoration: none;
    color:white;
}
#login button:hover{
    background-color:#013ab7;
}
#login{ 
    display: flex;
    justify-content: flex-end;
}
#log {
    width: 82px;
    height: 40px;
    border: 1px solid #0050ff;
    border-top-left-radius: 20px; 
    border-bottom-left-radius: 20px;
    text-align: center;
    font-family: 'MuseoSans700';
    background-color: #0050ff;
    margin-right: 1px;
}
#sign {
    
    width: 82px;
    height: 40px;
    border: 1px solid #0050ff;
    border-top-right-radius: 20px; 
    border-bottom-right-radius: 20px;
    text-align: center;
    font-family: 'MuseoSans700';
    background-color: #0050ff;
}
.toggle-nav {
    display: none;
}

/***************
# Main
***************/


#div1 {
    display: flex;
    justify-content: center;
    flex-direction: column;
    max-width: 1640px;
    background-image: url("../images/family_img.jpg");
    background-size: cover;
    text-align: center;
    padding: 50px 0;
    color: white;
    
}
#div1 h1{
    font-family: 'MuseoSans100';
    font-size: 35px;
}
#div1 p{
    font-family: 'MuseoSans300';
}
#div1 img{
    align-self: center;
}
#div2 {
    display: flex;
    justify-content: center;
    font-family: 'MuseoSans300';
}
#div2 div{
    text-align: center;
    padding: 34px;
    flex-basis: 228px;
}  

#div3 {
    display: flex;
    flex-direction: row;
    max-width: 100%;
    margin-bottom: 20px;
}
#div3 .usersstory{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center; 
    background-color: #004ffb;
    color: white;
    padding: 0 30px;
}
#div3 h4{
    font-family: 'MuseoSans300';
}
#div3 p{
    font-family: 'MuseoSans100';
    font-size: 35px;
}
#div3 a{
    font-family: 'MuseoSans700';
    text-decoration: none;
    background-color: white;
    color: #004ffb;
    border: 10px solid white;
    border-radius: 50px;
}
#div3 div{
    flex: 50%;
    max-width: 50%;
}

#div3 div:last-child img {
    max-width: 100%;
}

#div4 {
    display: flex;
    flex-flow: row;
    justify-content: center;
    max-width: 980px;
    margin: 0 auto;
}

#scope{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center; 
    max-width: 420px;
    background-color: #2dc27a;
    color: white;
    padding: 0 25px;
    margin-right: 7px;
}
#scope h3, p{
    font-family: 'MuseoSans100';
}
#scope a{
    text-decoration: none;
    background-color: white;
    color: #2dc27a;
    border: 5px solid white;
    border-radius: 50px;
    padding: 0 20px;
}
#div4 div{
    flex-basis: 280px;
}

#div5 {
    display: flex;
    flex-flow: column wrap;
    max-width: 1180px;
    justify-content: center;
    margin: 30px auto;
    
}
#div5 h3{
    font-family: 'MuseoSans100';
    font-size: 30px;
}
#div5 p{
    font-family: 'MuseoSans300';
}
#div5 a{
    font-family: 'MuseoSans700';
    text-decoration: none;
    border: 2px solid #0050ff;
    border-radius: 50px;
    color: #0050ff;
    padding: 5px 15px;
}
#div5 .post{
    margin-bottom: 30px; 
    border-top: 1px solid #eaeaea;
    padding-top: 60px;
    padding-bottom: 20px;
}
#div5 .post2{
    flex:50%;
    max-width:50%;
    float: left;
}
#div5 .post3{
    flex: 50%;
    max-width: 50%;
    float: right;
}

#div6 {
    display: flex;
    flex-flow: row wrap;
    max-width: 100%;
    justify-content: center;
    align-items: center;
    margin: 50px auto;
    background-color: #f7f7f7;
    border-top: 2px solid #eaeaea;
    border-bottom: 2px solid #eaeaea;
}
#div6 #contact{
    align-self: center;
    text-align: center;
    max-width: 100%;
    flex: 100%;
    font-family: 'MuseoSans100';
    font-size: 25px;
    color: #081f3f;
    padding: 30px 0;
}
#div6 #first{
    display: flex;
    width: 60%;
    flex-direction: column;
    height: 900px;
    align-self: center;
    background-color: white;
    padding: 80px;
    border: 5px groove #eaeaea;
}
#div6 input{
    padding: 23px;
    margin: 10px 0;
    border: 2px solid #e4e3e3;
    border-radius: 8px;
    width:100%;
}
#div6 #name {
    width: 50%;
}
#div6 #number{
    width: 50%;
}
#div6 label{
    font-family: 'MuseoSans700';
}
#first .acceptTerms{
    display: block;
    font-size: 18px;
    margin-bottom: 8px;
}
#first .checkBoxText {
    display: inline-block;
    color: #767676;
    font-size: 15px;
}
#first .checkBox{
    width: 7%;
}
#div6 input[type=submit]{ 
    border: 2px solid #004ffb;
    border-radius: 15px;
    background: none;
    width: 165px;
    text-align: center;
    font-family: 'MuseoSans700';
    color: #004ffb;
    font-size: 15px;
    padding: 7px;
}
#div6 #message {
    height: 200px;
}
#div6 #second{
    display: flex;
    width: 40%;
    height: 900px;
    flex-direction: column;
    align-self: center;
    justify-content: center;
    text-align: center;
    background-color: #004ffb;
    color:white;
    padding: 0 50px;
}
#second h4{
    font-family: 'MuseoSans100';
    font-size: 25px;
}
#second a, h6, p {
    font-family: 'MuseoSans300';
}
#second #profile a{
    text-decoration: none;
}
#second #profile{
    background-color: white;
    color: #081f3f;
    padding: 20px;
}
#div7{
    display: flex;
    max-width: 100%;
    height: 162px;
    justify-content: center;
    margin: 0 auto;
    background-color: #004ffb;

}
#div7 div{
    flex: 33.33%;
    text-align: center;
    align-self: center;

}
#div7 a{
    text-decoration: none;
    font-family: 'MuseoSans100';
    color: white;
    font-size: 20px;
}

/***************
# Footer
***************/
footer {
    max-width: 100%;
    height: 432px;
    margin: 0 auto;
    justify-content: center;
    
}
footer a{
    text-decoration: none;
    color: #0050ff;
}

footer #footer1{
    display: flex;
    max-width: 1180px;
    height: 352px;
    flex-wrap: wrap;
    justify-content: space-between; 
    padding: 50px 0;
}
#footer1 #logo2 img {
    height: 30px;
}
#footer1 .column{
    font-family: 'MuseoSans500';
    
}
.column ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
}
.column ul li{
    margin-top: 17px;
}
#footer1 .column li:hover{
    list-style-type: circle;
}
.column a:hover{
    color:#081f3f;
}
#footer1 #profile{
    font-family: 'MuseoSans700';
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-end;
}
#storeIcons{
    display: flex;
    flex-direction: column;
}
#storeIcons img{
    margin-top: 5px;
}
#footer2 {
    height: 80px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-top: 2px solid #f1f1f1;
    background-color: #f7f7f7;
}
 .termsIcons{
    margin: 0 200px;
}

/*************
# Responsive
**************/

@media screen and (max-width: 1024px){
    #menu {
        font-size: 15px;
    }
    #menu a:hover{
        padding-bottom: 60px;
    }
}

@media screen and (max-width:991px){
    #menu{
        font-size: 9px;
    }
    #menu a:hover{
        padding-bottom: 62px;
    }
    #submenu{
        font-size: 12px;
    }
    #div1{
        padding: 21px;
    }

    #div3 p{
        font-size: 25px;
    }
    #div3 h4{
        font-size: 14px;
    }
    #div3 a{
        font-size: 13px;
    }

    #div6 #profile a{
        font-size: 13px;
    }

    #footer2 .termsIcons {
        margin: 0 auto;
    }
}

@media screen and (max-width:767px){

    header{
        height: 80px;
        position:relative;
    }
    #menu ul.active{
        display: none;
    }
    #submenu {
        display: none;
    }
    #menu ul {
		background: #004ffb;
		position:absolute;
        right:0px;
        border-radius: 5px;
        padding:18px;
        font-size: 15px;
    }
    #menu ul:after {
        width:0px;
        height:0px;
        position:absolute;
        top:0%;
        right:3px;
        content:'';
        transform:translate(0%, -100%);
        border-width: 8px;
        border-style: solid;
        border-color:  transparent  transparent #004ffb transparent;
    }
    #menu li{
        float: none;
        padding: 5px;
    }
    #menu a:hover{
        border: none;
        padding:none;
        color: white;
    }
    .toggle-nav{
        display:inline-block;
        padding: 10px;
        border-radius: 5px;
        border: 1px solid #004ffb;
        background: white;
        color: #004ffb;
        text-decoration: none;
        margin-left: 10px;
        height: 44px;
    }
    .toggle-nav:hover {
        color: #081f3f;
    }

    #div1 p{
        font-size: 12px;
    }
    #div1 h1{
        font-size: 21px;
    }
    #div1 img{
        height: 25px;
    }

    #div2 div{
        padding: 14px;
        font-size: 13px;
    }
    #div2 img{
        height: 30px;
    }

    #div3 p{
        font-size: 15px;
    }
    #div3 h4{
        font-size: 12px;
    }
    #div3 a{
        font-size: 10px;
        border-width: 8px; 
    }

    #div4 .images img {
        float: none;
        width: 100%;
    }
    #div4 #scope p{
        font-size: 11px; 
    }
    #div4 #scope img{
        height: 30px;
    }
    #div4 #scope a{
        font-size: 9px;
    }
    #div4 #scope{
        max-width: 100%;
        
    }

    #div5 p{
        font-size: 13px;
    }
    #div5 h3{
        font-size: 20px;
    }
    #div5 a{
        font-size: 10px;
    }
    #div5 img{
        height: 170px;
    }

    #div6 div{
        flex-basis: 100%;
    }
    #div6 #first{
        padding: 50px;
    }
    #div6 #second{
       height: 500px;
       padding: 25px;
    }

    #footer1 .column{
        font-size: 10px;
    }
    #footer1 #logo2 img{
        display: none;
    }
    #footer1 #storeIcons img{
        height: 25px;
    }
}

@media screen and (max-width:479px){

    header{
        height: 70px;
    }
    #logo img{
        height: 32px;
    }
    #login button{
        width: 65px;
        height: 30px;
        font-size: 11px;
    }

    #div1{
        padding: 10px 0;
    }
    #div1 h1{
        font-size: 15px;
    }
    #div1 img{
        height: 15px;
    }
    #div1 p{
        font-size: 9px; 
    }

    #div2 {
        flex-direction: column;
     
    }
    #div2 div{
        margin: 0 auto;
        flex-basis: 0px;
    }
    #div2 div img{
        float: left;
        margin: 10px;
    }
    #div2 p{
       margin: 15px;
    }

    #div3 {
        flex-direction: column;
    }
    #div3 div{
        max-width: 100%;
        margin-bottom: 5px;
    }
    #div3 .usersstory p{
        font-size: 14px;
    }
    #div3 .usersstory a{
        margin: 15px;
    }
    
    #div4 {
        flex-direction: column;
    }
    #div4 #scope {
        margin:0;
        margin-bottom: 9px;
    }
    #div4 #mobile {
        display: none;
    }
    #div4 #panorama{
        display: none;
    }

    #div5{
        margin: 0;
        align-self:center;
    }
    #div5 .post {
       
        text-align: center;
        justify-content: center;
        padding: 10px;
    }
    #div5 .post2{
        float: none;
        max-width:100%;
        padding: 20px; 
    }
    #div5 .post3{
        float: none;
        max-width: 100%;
        padding: 20px;
    }
    #div5 #reverse{
        display: flex;
        flex-direction: column-reverse;
    }

    #div6  #name  {
        width: 100%;
    }
    #div6 #number{
        width:100%;
    }
    #div6 .checkBoxText{
        font-size: 10px;
    }
    #div6 #first{
        padding: 20px;
        height: 790px;
    }
    
    #div7{
        height: 100px;
    }
    #div7 a {
        font-size: 15px;
    }

    #footer1 .column{
        margin: 0 auto;
    }
    #footer1 #profile {
        flex-direction: row;
        width: 100%; 
        padding: 15px;
    }

    #footer2 a{
        font-size: 10px;
    }
}

body{
    margin-left: 0;
    margin-right: 0;
}